body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1, h3 {
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

textarea {
    width: 300px;
    height: 100px;
}